.customise-it {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 140px 220px;
    gap: 98px;
  
    position: absolute;
    height: 759px;
    left: 0px;
    right: -1px;
    top: 2509px;
  }
  
  .block-customise {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 98px;
  
    width: 1481px;
    height: 479px;
  }
  .heading-customise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
  
    width: 697px;
    height: 381px;
  }
  .textblock-customise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
  
    width: 697px;
    height: 258px;
  }
  .header-customise {
    position: relative;
    width: 500px;
    height: 500px;
  }
  .header-customise-1 {
    position: absolute;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
  
    color: #212529;
  }
  .text-customise {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #212529;
  }
  .element-customise {
    position: relative;
    left: 28%;
    right: 37.3%;
    top: 82%;
    bottom: 44.65%;
    margin-top: 10px;
    border-radius: 0px;
  }
  .button-customise {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
  
    width: 176px;
    height: 63px;
  
    background: #4f9cf9;
    border-radius: 6px;
  }
  .btnGetStarted {
    width: 72px;
    height: 23px;
  
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    background: #4f9cf9;
    border: none;
    color: #ffffff;
  }
  
  .image-customise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
  
    width: 686px;
    height: 479px;
  }