.your-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 140px 220px;
  
    position: absolute;
    height: 661.13px;
    left: 0px;
    right: -1px;
    top: 5114px;
  }
  .block-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
  
    width: 1481px;
    height: 381.13px;
  }
  .heading-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
  
    width: 800px;
    height: 324px;
  }
  .textblock-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
  
    width: 800px;
    height: 201px;
  }
  .header-data {
    position: relative;
    width: 800px;
    height: 200px;
  }
  .header-data-1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
  
    color: #212529;
  }
  .element-data {
    position: absolute;
    left: 24%;
    right: 33.12%;
    top: 50%;
    bottom: 50.25%;
    margin-top: 10px;
    border-radius: 0px;
  }
  .text-data {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
  
    color: #212529;
  }
  .button-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
  
    width: 197px;
    height: 63px;
  
    background: #4f9cf9;
    border-radius: 8px;
  }
  .Btn-try {
    width: 93px;
    height: 23px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    background: #4f9cf9;
    border: none;
  
    color: #ffffff;
  }
  .image-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 681px;
    height: 381.13px;
  }
  